<!DOCTYPE html>
<html>
  <head>
    <title>Mini msg</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/new">
      <button class="go-to-submit">Submit a post</button>
    </a>
    <ul class="messages-list">
      <% if (messages.length) { %>
      <ul>
        <% messages.forEach((message) => { %>
        <li>
          <span class="username"><%= message.user %>:</span> "<%= message.text
          %>""
          <span class="date">(<%= message.added %>)</span>
        </li>
        <% }) %>
      </ul>
      <% } %>
    </ul>
  </body>
</html>
